@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* importing fonts from "fonts.google.com" */

/* 
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 

  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;

  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  */

body {
    font-size: 1rem;
    max-height: 100vh;
    margin: 0;
}

.navbar {
    background-color: rgb(158, 30, 15);
    max-height: 5vh;
    margin-top: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100vw;
}

footer {
    display: flex;
    min-height: 5vh;
    margin: 0;
    background-color: rgb(158, 30, 15);
    align-items: center;
}

.footer button {
    margin-left: 100px;
    height: 1vh;
    width: 9vw;
    background-color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar li {
    margin-left: 2vw;
    margin-right: 2vw;
}

.navbar a {
    font-size: 1.4rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    background-color: 0;
}

.navbar a:hover {
    background-color: rgb(240, 209, 53);
    border-color: rgb(240, 209, 53);
    color:black;
    transition: ease 0.2s;
}

/* -----------End of navbar and footer html-------------------- */

/* -----------Start of index html  ---------------------- */

.Main {
    margin: 0;
    padding: 0;
    font-family: "Courgette", cursive;
}
.heroTitle {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(Resource/HeroPicture2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    width: 100vw;
    padding: 5vh 0;
    text-align: left;
}

.heroText h1, .heroText h2 {
    margin: 0;
    text-shadow: 4px 4px 10px black;
    color: gold;
    font-size: 7rem;
    margin-left: 5vw;
}

.thirdBox {
    text-align: left;
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 5vh 5vw;
    font-size: 3rem;
}

.thirdBox p {
    margin: 0;
    text-align: justify;
    color: rgb(0, 0, 0);
}

/* This section is for darkMode content */
.thirdBox.darkMode {
    background-color: rgb(15, 15, 15);
}

.thirdBox.darkMode p{
    color: rgb(200, 200, 200);
}
/* ends here for darkmode */

.thirdBox ul {
    display: flex;
    justify-content: right;
}

.thirdBox li {
    align-items: left;
    list-style-type: none;
    margin-right: 50px;
}

.thirdBox a {
    font-size: 1.3rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    background-color: rgb(158, 30, 15);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(158, 30, 15);
    background-color: 0;
}

.thirdBox a:hover {
    background-color: rgb(240, 209, 53);
    border-color: rgb(240, 209, 53);
    color:black;
    transition: ease 0.2s;
}

.heroPic {
    width: 100vw;
    height: 34vh;
}

.heroPic img{
    margin: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* -----------End of index html-------------------- */

/* -----------Start of hisotry html-------------------- */


.history-img {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Resource/historyPic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 90vw;
    min-height: 25vh;
}

.history-img h1 {
    padding-top: 5vh;
    font-size: 10vw;
    text-shadow: -4px -4px 10px black;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 0;
}

.history-main {
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: "Crimson Pro", serif;
    gap: 10vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: start;
    height: 62vh;
    width: 100vw;
}

.yr1945, .yr1947, .yr1959, .yr2002, .yr2013 {
    background-color: rgb(236, 236, 236);
    text-align: justify;
    border-radius: 25px;
    box-shadow: 4px 4px 10px black;
    padding: 2vh 5vw;
    min-width: 80vw;
    min-height: 5%;
    margin: 3vh 3vw;
    max-height: 70vh;
}

.history-main h1 {
    font-size: 6vw;
}

.history-main p {
    font-size: 2.4rem;
    max-height: 60vh;
}

/* Darkmode for history */

#historyMain.darkMode {
    background-color: rgb(15, 15, 15);
}

#yr1.darkMode,
#yr2.darkMode,
#yr3.darkMode,
#yr4.darkMode,
#yr5.darkMode {
    background-color: rgb(23, 23, 23);
}

#yr1.darkMode,
#yr2.darkMode,
#yr3.darkMode,
#yr4.darkMode,
#yr5.darkMode p {
    color: rgb(200,200,200);

}

#yr1.darkMode,
#yr2.darkMode,
#yr3.darkMode,
#yr4.darkMode,
#yr5.darkMode h1 {
    color: rgb(200,200,200);
}



/* -----------End of history html-------------------- */

/* -----------Start of about html-------------------- */

.about-main {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    .about-section-first {
        margin-top: 5vh;
    }

    .about-section-third {
        margin-bottom: 5vh;
    }

.about-section-first, .about-section-second, .about-section-third {
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 239, 239);
    /* border-style: solid; */
    border-radius: 18px;
    box-shadow: 4px 4px 10px black;
    padding: 3vh 2vw 3vh 2vw;
    
}

.about-text {
    text-align: justify;
    font-family: "Courgette", cursive;
    font-size: 3vw;
    padding: 2vh 7vw;
}

.about-image img {
    box-shadow: 4px 4px 10px rgb(170, 170, 170);
    border-radius: 18px;
    max-width: 80vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

/* Darkmode for about */
#aboutMain.darkMode {
    background-color: rgb(15, 15, 15);
}

#aboutText1.darkMode,
#aboutText2.darkMode,
#aboutText3.darkMode {
    background-color: rgb(23, 23, 23);
}

#aboutText1.darkMode,
#aboutText2.darkMode,
#aboutText3.darkMode p {
    color: rgb(200,200,200);
}

#aboutText1.darkMode,
#aboutText2.darkMode,
#aboutText3.darkMode h1 {
    color: rgb(200,200,200);
}




/* -----------End of about html-------------------- */

/* -----------Start of quiz html-------------------- */

.quiz-main {
    font-family: "Rubik", sans-serif;
    background-color: rgb(23, 23, 23);
    height: 74vh;
    padding-top: 15vh;
}

.quiz-board {
    box-shadow: 4px 4px 10px black;
    margin: 0 auto;
    background-color: rgb(214, 48, 48);
    border-radius: 26px;
    padding: 5rem;
    width: 60vw;
}

.quiz-board h1 {
    font-weight: bold;
    font-size: 3rem;
    border-bottom: 1px solid black;
    padding-bottom: 3rem;
}

.quiz {
    padding: 0.2rem 0;
}

.quiz h2 {
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.btn {
    font-family: "Rubik", sans-serif;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: light;
    text-align: left;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
}

#next-btn {
    background-color: black;
    color: white;
    font-weight: 500;
    width: 5rem;
    text-align: center;
    border: 0;
    padding: 10px;
    margin: 1vh auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}

.btn:hover:not([disabled]) {
    color: white;
    background-color: rgb(0, 0, 0);
}

.correct {
    background-color: rgb(142, 167, 102);
}

.incorrect {
    background-color: rgb(160, 11, 11);
}

/* Darkmode for about */


/* -----------End of quiz html-------------------- */
/* -----------Start of timer html-------------------- */

.nxtCount {
    background-color: rgb(158, 30, 15);
    text-align: center;
    min-height: 73vh;
    min-width: 100vw;
    padding-top: 15vh;
    padding-bottom: 2rem;
}

.nxtCount h1 {
    color: rgb(233, 203, 52);
    text-shadow: 4px 4px 10px black;
    font-family: "courgette", cursive;
    font-size: 11vw;
}

.nxtCount h2 {
    text-shadow: 4px 4px 10px black;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 9vw;
}

/* -----------End of timer html-------------------- */




/* -------------Media for landscape------------- */

/* -------------Media for landscape------------- */

/* -------------Media for landscape------------- */


@media (orientation: landscape) {

    /* -------- Home section ------- */

    .navbar a {
    font-size: 1rem;
    }

    .footer button {
        margin-left: 100px;
        height: 1.5rem;
        width: 5.4rem;
    }

    .heroText h1, .heroText h2 {
        font-size: 5rem;
    }

    .thirdBox {
        font-size: 2rem;
    }




    /* -------- History section -------- */

    .history-img h1 {
        margin-top: 0;
        text-align: justify;
        font-size: 7rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    /* .history-main {
        margin-left: 10vw;
        margin-right: 10vw;
    } */

    .history-main h1 {
        font-size: 3rem;
    }

    .history-main p {
        font-size: 1.4rem;
    }

    .yr1945, .yr1947, .yr1959, .yr2002, .yr2013 {
    
    }

    /* -------- About section -------- */

    .about-main {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    .about-section-first, .about-section-second, .about-section-third {
        display: flex;
        flex-direction: row;
        margin-left: 5vw;
        margin-right: 5vw;
        align-items: center;
        background-color: rgb(239, 239, 239);
        border-radius: 18px;
        box-shadow: 4px 4px 10px black;
    }

    .about-section-first {
        margin-top: 5vh;
    }

    .about-section-third {
        margin-bottom: 5vh;
    }

    .about-text {
        text-align: justify;
        font-size: 1.2rem;
        width: 60%;
        height: auto;
    }

    .about-image img {
        border-radius: 0 18px 18px 0;
        width: 30vw;
        height: auto;
        margin: 0 0;
        display: block;
    }

    /* --------------- Quiz section --------------- */

    .quiz-main {
    height: 80vh;
    padding-top: 5vh;
    }

    .quiz-board {
        padding: 3rem;
        width: 43vw;
    }

    /* --------------- Timer section --------------- */

    .nxtCount {
        padding-top: 1rem;
    }

    .nxtCount h1 {
        font-size: 8rem;
    }

    .nxtCount h2 {
        font-size: 8rem;
    }

}
  /* --------------- End of landscape --------------- */
  /* --------------- End of landscape --------------- */
  /* --------------- End of landscape --------------- */




